.App {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-evenly;
}
.counter {
    width: 500px;
    height: 300px;
    border: 7px solid rebeccapurple;
    border-radius: 20px;

}
.counterDisplay {
    width: 400px;
    height: 150px;
    margin: 10px auto;
    border: 5px solid rebeccapurple;
    border-radius: 10px;
    font-size: 100px;
}
.counterDisplayTrue {
    width: 400px;
    height: 150px;
    margin: 10px auto;
    border: 5px solid rebeccapurple;
    border-radius: 10px;
    font-size: 100px;
    color: red;
    font-weight: bold;
}
.counterButtons {
    display: flex;
    justify-content: space-evenly;
    width: 360px;
    padding: 20px;
    margin: 20px auto;
    border: 5px solid rebeccapurple;
    border-radius: 10px;

}
.setCounter {
    width: 500px;
    height: 300px;
    border: 7px solid rebeccapurple;
    border-radius: 20px;
}

button {
    width: 100px
}

#someId {

}


.setCounterDisplay {
    width: 400px;
    height: 150px;
    margin: 10px auto;
    border: 5px solid rebeccapurple;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rebeccapurple;
}

.setButton {
    width: 360px;
    padding: 20px;
    margin: 20px auto;
    border: 5px solid rebeccapurple;
    border-radius: 10px;
}


.maxValue {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}
.minValue {
    display: flex;
    justify-content: space-evenly;
}

